* {
    box-sizing: border-box;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--grey-900);
}

a {
    text-decoration: none;
    color: inherit;
}

.social-profile {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-profile .container {
    background-color: var(--grey-800);
    border-radius: 12px;
    padding: 40px 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
